In [6]:
# Q1.User will input (3ages).Find the oldest one
age_1 = int(input("Enter your age : "))
age_2 = int(input("Enter your age : "))
age_3 = int(input("Enter your age : "))

#if age_1 > age_2 and age_1 > age_3:
#            print(age_1,"is oldest age")
#elif age_2 > age_3:
#            print(age_2,"is oldest age")
#else:
#            print(age_3,"is oldest age")

max = age_1 # assume age_1 is the max age
if max < age_2:
  max = age_2
if max < age_3:
  max = age_3
print(max)

Enter your age : 90
Enter your age : 26
Enter your age : 16
90

In [7]:
# similarly checking for the minimum age
age_1 = int(input("Enter your age : "))
age_2 = int(input("Enter your age : "))
age_3 = int(input("Enter your age : "))


min = age_1 # assume age_1 is the min age
if min > age_2:
  min = age_2
if min > age_3:
  min = age_3
print(min)

Enter your age : 81
Enter your age : 26
Enter your age : 36
26

In [9]:
# Q2.Write a program that will convert celsius value to fahrenheit

c = float(input("enter the celcius :"))
F=(c*9/5)+32
print("Fehrenhite wil be :",F)

enter the celcius :32
Fehrenhite wil be : 89.6

In [10]:
# Q3. User will input (2numbers).Write a program to swap the numbers

a = int(input("Enter the number 1st :"))
b = int(input("Enter the number 2nd :"))

print("numbers before swap",a,b)
temp = a
a = b
b = temp
print("numbers after swap",a,b)

Enter the number 1st :9
Enter the number 2nd :18
numbers before swap 9 18
numbers after swap 18 9

In [13]:
a=5
b=6
a,b = b,a
print(a,b)

6 5

In [18]:
# Q4. Write a program that will give you the sum of 3 digits

num = 395
a=395%10 #(5)
num=num//10 #(39)
b=num%10 #(9)
c=num//10 #(3)

print(a+b+c)

17

In [22]:
# Q5.Write a program that will reverse a four digit number.Also it checks whether the reverse is true.

num=4321

a = num%10
num=num//10
b = num%10
num=num//10
c = num%10
d = num//10

reverse = 1000*a+100*b+10*c+d
print("reverse of the number is :",reverse)

reverse of the number is : 1234

In [24]:
# Q6.Write a program that will tell whether the number entered by the user is odd or even.
num = int(input("Enter the number :" ))

if num%2==0:
  print("Even")
else:
  print("Odd")

Enter the number :5
Odd

In [29]:
# Q7.Write a program that will tell whether the given year is a leap year or not.
Year = int(input("Enter the year : "))

if Year%4==0:
  print("Leap Year")
else :
  print("Not a Leap Year")

Enter the year : 2026
Not a Leap Year

In [30]:
# Q8.Write a program to find the euclidean distance between two coordinates.
x1=2
x2=5
y1=3
y2=8

d = ((x2-x1)**2+(y2-y1)**2)**0.5
print("Euclidean Distance is : ",d)

Euclidean Distance is :  5.830951894845301

In [33]:
# Q9.Write a program that take a user inpute of three angles and will find out whether it can form a triangle or not.
a = float(input("Enter angle a :"))
b = float(input("Enter angle b :"))
c = float(input("Enter angle c :"))

if a+b+c==180 and (a!=0 and b!=0 and c!=0):
  print("It will form triangle")
else:
  print("No")

Enter angle a :90
Enter angle b :30
Enter angle c :60
It will form triangle

In [34]:
# Q10. Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit

cost_price = float(input("Enter the cost price : "))
selling_price = float(input("Enter the selling price : "))

if selling_price>cost_price:
  print("Profit")
else:
  print("Loss")

Enter the cost price : 5
Enter the selling price : 6
Profit

In [36]:
# Q11.Write a program to find the simple interest when the value of principle,rate of interest and time period is given.
p = int(input("Enter the value : "))
r = int(input("Enter the value : "))
t = int(input("Enter the value : "))

F = (p*r*t)/100
F

Enter the value : 30
Enter the value : 20
Enter the value : 10

60.0

In [40]:
# Q12.Write a program to find the volume of the cylinder. Also find the cost when ,when the cost of 1litre milk is 40Rs.


r=float(input("Enter the Radius of cylinder :"))
h=float(input("Enter the Height of cylinder :"))

V=3.14*(r**2)*h
print(V)
cost = V/1000*40
print(cost)

Enter the Radius of cylinder :4
Enter the Height of cylinder :5
251.20000000000002
10.048000000000002

In [42]:
# Q13.Write  a program that will tell whether the given number is divisible by 3 & 6.

Num = 27
if Num%3==0 and Num%6==0:
  print("Yes")
else:
  print("No")

No

In [45]:
# Q14.Write a program that will determine weather when the value of temperature and humidity is provided by the user.
""" TEMPERATURE(C)      HUMIDITY(%)      WEATHER

      >= 30                             >=90                Hot and Humid
      >= 30                             < 90                 Hot
      <30                                >= 90               Cool and Humid
      <30                                 <90                 Cool """

temp = float(input("Enter the temperature : "))
humi = float(input("Enter the humidity : "))

if temp >=30 and humi >=90 :
  print("HOT AND HUMID")
elif temp >=30 and humi <90 :
  print("HOT")
elif temp < 30 and humi >=90:
  print("Cool and Humid")
else :
  print("Cool")

Enter the temperature : 45
Enter the humidity : 95
HOT AND HUMID

In [2]:
# Q15.Write a program that will take three digits from the user and add the square of each digit.
num = int(input("Enter 3 digits :"))

a = num%10
num = num//10
b = num%10
c = num //10

result = a**2+b**2+c**2
print(result)

Enter 3 digits :123
14

In [18]:
# Q16.Write a program that will check whether the number is armstrong number or not.

user_input = int(input("Enter a 3 digit number : "))
num = user_input
a=num%10
num = num//10
b=num%10
c=num//10


sum =(a**3)+(b**3)+(c**3)


if sum==user_input:
     print("Armstrong Number")
else:
     print("No")

Enter a 3 digit number : 153
Armstrong Number

In [22]:
# Q17.Write a program that will take user input of (4 digits number) and check whether the number is narcissist number or not.

user_input = int(input("Enter a 3 digit number : "))
num = user_input
a=num%10
num = num//10
b=num%10
num = num//10
c=num%10
d=num//10


sum =(a**4)+(b**4)+(c**4)+(d**4)


if sum==user_input:
     print("Narcissist Number")
else:
     print("Not a narcissist number")

Enter a 3 digit number : 8208
Narcissist Number

In [ ]:
# Q18.
"""Write a program that will give you the in hand salary after deduction of
   HRA(10%),DA(5%),PF(3%), and tax(if salary is between 5-10 lakh–10%),(11-20lakh–20%),(20< _   – 30%)(0-1lakh print k)"""

In [2]:
user_input = float(input("Enter the salary : "))

if user_input >500000 and user_input <1000000:
  tax = 0.1*user_input
  temp_salary = user_input-tax

elif user_input > 1100000 and user_input < 2000000:
  tax = 0.2*user_input
  temp_salary = user_input-tax

else:
  tax = 0.3*user_input
  temp_salary = user_input-tax

HRA = 0.1*temp_salary
DA = 0.5*temp_salary
PF = 0.3*temp_salary

salary_in_hand = temp_salary - (HRA+DA+PF)/12
print("salary in hand is: ",salary_in_hand)

if salary_in_hand < 999:
  print(salary_in_hand)
elif salary_in_hand >1000 and salary_in_hand <99999:
  print(salary_in_hand/1000,"K")
elif salary_in_hand >100000 and salary_in_hand <9999999:
  print(salary_in_hand/100000,"l")
else:
  print(salary_in_hand/10000000,"cr")

Enter the salary : 600000
salary in hand is:  499500.0
4.995 l

In [5]:
# Q20.Write a menu driven program - 1.cm to ft  2.kl to miles  3.usd to inr  4.exit

user_input = input("""
Hi,Welcome to this page

Enter 1 for cm to fit conversion
Enter 2 for kl to miles conversion
Enter 3 for usd to inr conversion
Enter 4 to exit
""")

if user_input =="1":
  cm = float(input("Enter the centimeter "))
  feet = cm*0.0328
  print("your feet will be :",feet)
elif user_input == "2":
  km = float(input("Enter the kilometer "))
  miles = km*0.621
  print("your miles will be :",miles)
elif user_input == "3":
  usd = float(input("Enter the usd "))
  inr = usd*83.11
  print("your inr will be :",inr)
else:
  print("Exit")

Hi,Welcome to this page

Enter 1 for cm to fit conversion
Enter 2 for kl to miles conversion
Enter 3 for usd to inr conversion
Enter 4 to exit
1
Enter the centimeter 5
your feet will be : 0.164

In [10]:
# Q21.Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

total_heads = int(input("Enter the total number of heads: "))
total_legs = int(input("Enter the total number of legs: "))

# Equation 1: C + D = H
# Equation 2: 2C + 4D = L

# Solving the equations
# We can rewrite Equation 1 to D = H - C
# Substituting D in Equation 2, we get: 2C + 4(H - C) = L
# Simplifying, we get: 2C + 4H - 4C = L
#                     -2C + 4H = L
#                     2H = L
# Therefore, C = (L - 2H) / 2
# Once we have C, we can find D using Equation 1: D = H - C

# Calculating number of chickens (C)
chickens = (total_legs - 2 * total_heads) // 2

# Calculating number of dogs (D)
dogs = total_heads - chickens

# Checking if the calculated values are non-negative
if chickens >= 0 and dogs >= 0:
    print("Number of chickens:", chickens)
    print("Number of dogs:", dogs)
else:
    print("Invalid input. Please enter valid numbers of heads and legs.")

Enter the total number of heads: 6
Enter the total number of legs: 16
Number of chickens: 2
Number of dogs: 4

In [3]:
# Q22.Write a program that will swap numbers

a = float(input("Enter the number : "))
b = float(input("Enter the number : "))

print(f"numbers before swap are {a} and {b}")

temp=a
a=b
b=temp

print(f"numbers before swap are {a} and {b}")

Enter the number : 45
Enter the number : 90
numbers before swap are 45.0 and 90.0
numbers before swap are 90.0 and 45.0

In [4]:
# Q23.Write a program to find the sum of first n numbers, where n will be provided by the user.
      # Eg if the user provides n=10 the output should be 55.

num = int(input("enter the number: "))
sum = num*(num + 1)/2
print("sum of n natural number is :",sum)

enter the number: 10
sum of n natural number is : 55.0

In [7]:
# Q23.Write a program that can multiply 2 numbers provided by the user without using the * operator
import numpy as np
a = int(input("enter the number : "))
b = int(input("enter the number : "))
sum=0
for i in range(0,a):
  sum=sum+b
print(f"product of {a} and {b} is {sum}")

enter the number : 4
enter the number : 5
product of 4 and 5 is 20

In [14]:
# Q24.Write a program that can find the factorial of a given number provided by the user.
num = int(input("Enter the numberI: "))

fact = 1
for i in range(1,num+1):
  fact*=i
print(f"factorial of {num} is {fact}")

Enter the numberI: 0
factorial of 0 is 1

In [13]:
0#recursive approach
def fact(n):
  if n==0 or n==1:
    return 1
  else:
    return n*fact(n-1)
fact(6)

720

In [16]:
# Q25.Write a program to print the first 25 odd numbers.

flag=0
i=1
while True:
  if i%2!=0:
    print(i)
    flag+=1
  if flag==25:
    break
  i+=1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [16]:
# Q26.Write a program to print whether a given number is prime number or not

num=int(input("Enter the number : "))
count=0

if num>1:
  for i in range(1,num+1):
    if (num%i)==0:
      count+=1
  if count==2:
    print("prime number")
  else:
    print("Not a prime number")

Enter the number : 7
prime number

In [6]:
# Q27.Print all the armstrong numbers in the range of 100 to 1000.

for i in range(100,1000):
  num = i
  a=num%10
  num=num//10
  b=num%10
  c=num//10
  if (a**3) + (b**3) + (c**3)==i:
    print(i)

153
370
371
407

In [6]:
# Q30.
"""The current population of a town is 10000.
The population of the town is increasing at the rate of 10% per year.
You have to write a program to find out the population at the end of each of the last 10 years.
For eg current population is 10000 so the output should be like this:
10th year - 10000
9th year - 9000
8th year - 8100 and so on"""

In [7]:
population=10000
print(population)
flag=0
while True:
  b = population-(0.1*population)
  population = b
  print(int(b))
  flag+=1

  if flag==9:
    break

10000
9000
8100
7290
6561
5904
5314
4782
4304
3874

In [8]:
population = 10000
growth_rate = 0.10  # 10% growth rate

for year in range(10, 0, -1):
    print(f"{year}th year - {population}")
    population -= population * growth_rate
    population = int(population)

10th year - 10000
9th year - 9000
8th year - 8100
7th year - 7290
6th year - 6561
5th year - 5904
4th year - 5313
3th year - 4781
2th year - 4302
1th year - 3871

In [9]:
# Q31.Write a program to print all the unique combinations of 1,2,3 and 4.

for i in range(1,5):
  for j in range(1,5):
    if (i!=j):
      print(i,j)

1 2
1 3
1 4
2 1
2 3
2 4
3 1
3 2
3 4
4 1
4 2
4 3

In [19]:
# Q32.User will provide 2 numbers you have to find the HCF of those 2 numbers.

x = int(input("Enter the number: "))
y = int(input("Enter the number: "))

if x>y:
        smaller = y
else:
        smaller = x
HCF=1
for i in range(2,smaller+1):
  if (x%i==0 and y%i==0):
        HCF = i
print("HCF is : ",HCF)

Enter the number: 20
Enter the number: 10
HCF is :  10

In [18]:
# Q33.User will provide 2 numbers you have to find the by LCM of those 2 numbers.
x = int(input("Enter the number: "))
y = int(input("Enter the number: "))

if x>y:
        greater = x
else:
        greater = y
LCM=greater
while True:
    if LCM % x == 0 and LCM % y == 0:
        break
    LCM += greater  # Increment LCM by the greater number until it's divisible by both numbers

print("LCM is:", LCM)

Enter the number: 20
Enter the number: 30
LCM is: 60

In [22]:
# Q34.Print first 25 prime numbers.
count = 0
num = 2

while count < 25:  # Adjusted the condition to ensure only 25 prime numbers are printed
    is_prime = True  # Assume num is prime initially
    for i in range(2, num):
        if num % i == 0:
            is_prime = False  # Found a factor, so num is not prime
            break

    if is_prime:
        print(num)
        count += 1

    num += 1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [4]:
# Q35.Print the first 20 numbers of a Fibonacci series

#fs = 0,1,1,2,3,5,8,13

a = 0
b = 1
print(a)
print(b)
for i in range(0,18):
  sum=a+b
  a=b
  b=sum
  print(sum)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [5]:
# Q36.Write a program to find the compound interest
""" A = P(1+r/n)**nt
    A	=	final amount
    P	=	initial principal balance
    r	=	interest rate
    n	=	number of times interest applied per time period
    t	=	number of time periods elapsed """

' A = P(1+r/n)**nt\n    A\t=\tfinal amount\n    P\t=\tinitial principal balance\n    r\t=\tinterest rate\n    n\t=\tnumber of times interest applied per time period \n    t\t=\tnumber of time periods elapsed '

In [7]:
P = float(input("Enter a initial principal balance : "))
r = float(input("interest rate : "))
n = float(input("number of times interest applied per time period : "))
t = float(input("number of time periods elapsed : "))

final_amount = P*(1+r/n)**(n*t)
print("final amount is : " , final_amount)

Enter a initial principal balance : 4
interest rate : 5
number of times interest applied per time period : 6
number of time periods elapsed : 7
final amount is :  455197902131.24677

In [10]:
# Q37.Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

n = input("Enter the number : ")
print("n is : ",n)
nn = n+n
print("nn is :",nn)
nnn = n+n+n
print("nnn is : ", nnn)

sum = int(n)+int(nn)+int(nnn)
print(sum)

Enter the number : 2
n is :  2
nn is : 22
nnn is :  222
246

In [16]:
# Q38.Take a number from the user and find the number of digits in it.
# time complexity more
num = input("Enter the number : ")
count=0
for i in num:
  for j in i:
    count+=1
print("The number of digits in given number is : ",count)

Enter the number : 123456789
The number of digits in given number is :  9

In [19]:
#less time complexity
num = int(input("Enter the number : "))
count=0
while num > 0:
  num=num//10
  count+=1
print("The number of digits in given number is : ",count)

Enter the number : 123456
The number of digits in given number is :  6

In [24]:
# Q39.Print all factors of a given number provided by the user.
num = int(input("Enter the number : "))

if num>0:
  for i in range(2,num+1):
    if num%i==0:
      print(i)
else:
  print("Enter positive number")

Enter the number : 25
5
25

In [27]:
# Q40.Find the reverse of a number provided by the user(any number of digit)

num = int(input("Enter the number : "))
rev = 0
while num > 0:
  rem = num%10
  num = num//10
  rev = rev*10+rem
print("Reversed number is : ",rev)

Enter the number : 324567
Reversed number is :  765423

In [ ]:
# Q41.Write a program to print the following pattern
""" *
    **
    ***
    ****
    ***** """

In [28]:
row = int(input("Enter the rows : "))
for i in range(1,row+1):
  print("*"*i)

Enter the rows : 4
*
**
***
****

In [29]:
# Q46.Write a program to calculate the sum of the following series till the nth term
#     1/1! + 2/2! + 3/3! + 4/4! +…….+ n/n!
#     n will be provided by the user

n = int(input("Enter a number : "))
result = 0
fact  = 1
for i in range(1,n+1):
  fact = fact*i
  result = result + (i/fact)
print(result)

Enter a number : 4
2.6666666666666665

In [ ]:
# Q47.Write a Python Program to Find the Sum of the Series till the nth term:
#     1 + x^2/2 + x^3/3 + … x^n/n
#     n will be provided by the use

In [31]:
x = int(input("Enter the x : "))
n = int(input("Enter the n : "))
sum = 1
for i in range(2,n+1):
  sum=sum+((x**i)/i)
print(sum)

Enter the x : 3
Enter the n : 4
34.75

In [36]:
# Q49. Write a program that keeps on accepting a number from the user until the user enters Zero.
#      Display the sum and average of all the numbers.

num  = int(input("Enter a num : "))
sum = 0
avg = 0
count = 0
while True:
  if num !=0:
    sum=sum+num
    count+=1
    avg = sum/count
    num  = int(input("Enter a num : "))
  else:
    print("Thank you")
    break

print(f"Sum is {sum},and avg is {avg}")

Enter a num : 6
Enter a num : 6
Enter a num : 6
Enter a num : 6
Enter a num : 6
Enter a num : 6
Enter a num : 0
Thank you
Sum is 36,and avg is 6.0

In [5]:
# Q51.Find the length of a given string without using the len() function.

user_input = input("Enter the string : ")
count = 0
for i in user_input:
    count+=1
print("Length of string is : ",count)

Enter the string : Tushar sinha
Length of string is :  12

In [ ]:
# Q52.Extract username from a given email.
#     Eg if the email is nitish24singh@gmail.com then the username should be nitish24singh

In [14]:
email = input("Enter your email : ")
index = email.index("@")
username = email[0:index]
print("Username of your email is : ",username)

Enter your email : tusharsinha1452@gmail.com
Username of your email is :  tusharsinha1452

In [17]:
email = input("Enter your email : ")
username = email.split("@")[0]
print("Username is : ",username)

Enter your email : nitish24singh@gmail.com
Username is :  nitish24singh

In [14]:
# Q53.Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

In [19]:
string = ("hello how are you")
word = "o"
count = 0
for i in string:
  if i==word:
    count+=1
print("frequency of word is : ",count)

frequency of word is :  3

In [21]:
#  using inbuilt method count()
string = ("hello how are you")
word = "h"

fre = string.count(word)
print(fre)

2

In [26]:
# Q54. Find the index position of a particular character in another string.

string = ("sinha")
word = "n"

index = string.index(word)
print("index of the character is : " ,index)

index of the character is :  2

In [29]:
# Q55. Count the number of vowels in a string provided by the user.

a = input("Enter the string : ")
b = 'aeiou'
count= 0
for i in a:
  if i in b:
    count+=1
print(count)

Enter the string : tushar sinha
4

In [36]:
# Q56. Write a program which can remove a particular character from a string
a = input("Enter the string : ")
b = input("Enter the character : ")
index = a.index(b)
c = a[:index]
d = a[index+1:]
print(c+d)

Enter the string : tushar
Enter the character : s
tuhar

In [45]:
# Q57. Write a program that can check whether a given string is palindrome or not.
string = 'madam'
length = len(string)
middle = length//2

if length%2 == 0:
  fh = string[:middle]
  lh = string[middle:0]
else:
  fh = string[:middle]
  lh = string[middle+1:]

if fh==lh[::-1]:
  print("palindrome")
else:
  print("not")

palindrome

In [46]:
# Q58.Write a python program to remove all the duplicates from a list

list = [23,55,66,74,19,75,39,40,66,23]
list2 = []
for i in list:
  if i not in list2:
    list2.append(i)
print(list2)

[23, 55, 66, 74, 19, 75, 39, 40]

In [52]:
# Q59.Write a python program to convert a string to title case without using the title()

a = "Welcome to my world"
l = a.split()
new = ''
for i in l:
  i=i[0].upper()+i[1:].lower()+' '
  new+=i
print(new)

Welcome To My World

In [61]:
# Q60.Write a python program to find the max item from a list without using the max function

l = [10,23,4,56,77,43]
max = l[0]

for i in l[1:]:
  if i > max:
    max = i

print(max)

77

In [70]:
# Q61.Write a python program to reverse a list

list = [1,2,3,4,5]
l2 = []
for i in range(len(list)-1,-1,-1):
  l2.append(list[i])

print(l2)

[5, 4, 3, 2, 1]

In [75]:
# Q62.Write a python program to search a given number from a list

l = [23,55,89,69,25,15,45]
num = 0

for i in l:
  if i==num:
    print("True")
    break
else:
  print("false")

false

In [ ]:
# Q63.Write a program that can create a new list from a given list where each item in the new list is square of the item of the old list

In [76]:
old_list = [1,2,3,4,5]
new_list = []

for i in old_list:
  i=i**2
  new_list.append(i)
print(new_list)

[1, 4, 9, 16, 25]

In [ ]:
# Q64. Write a program that can reverse words of a given string.
#      Eg if the input is Hello how are you
#      Output should be you are how Hello

In [78]:
s = 'Hello how are you'
l=s.split()
o = []
for i in range(len(l)-1,-1,-1):
  o.append(l[i])
y=' '.join(o)
print(y)

you are how Hello

In [80]:
# Q65.Write a program that can count the number of words in a given string

s = 'tushar is great'
count = 0
for i in s:
  count+=1
print("No. of words in string is : ",count)

No. of words in string is :  15

In [81]:
s = 'tushar is great'
l=s.split()
len(l)

3

In [8]:
# Q66. Write a program to check if a list is in ascending order or not

list=[1,2,3,6,4,5]
flag = 0

for i in range(0,len(list)-1):
  if list[i]>=list[i+1]:
    flag = 1
    break
if flag==0:
  print("Sorted")
else:
  print("Not sorted")

Not sorted

In [11]:
# Q67.Create 2 lists from a given list where 1st list will contain
#     all the odd numbers from the original list and the 2nd one will contain all the even numbers.

OL = [23,45,67,89,73,52,19,76,90,66,44,20]
odd = []
even = []
for i in OL:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
print("List of odd number : ",odd)
print("List of even number : ",even)

List of odd number :  [23, 45, 67, 89, 73, 19]
List of even number :  [52, 76, 90, 66, 44, 20]

In [18]:
# Q68. Write a program to merge 2 list without using the + operator

list1=[1,23,4,56,78]
list2=[43,54,32,21,78]

for i in list2:
  list1.append(i)

print(list1)

[1, 23, 4, 56, 78, 43, 54, 32, 21, 78]

In [20]:
# Q69.Write a program to replace an item with a different item if found in the list

l = [1,23,4,56,6]
find = int(input("Enter an item : "))
replace = int(input("Enter an item to replace : "))

for i in range(0,len(l)-1):
  if l[i]==find:
    l[i]=replace
    print(l)
    break
else:
  print("Not found")

Enter an item : 34
Enter an item to replace : 44
Not found

In [25]:
# Q70.Write a program that can convert a 2D list to 1D listWrite a program that can print

list_2d = [[1,23,45],[34,55,29]]
list_1d = []
for i in list_2d:
  for j in i:
    list_1d.append(j)

print("1-D list is : ",list_1d)

1-D list is :  [1, 23, 45, 34, 55, 29]

In [32]:
# Q71.Write a program that can perform union and intersection on 2 given list.

l1 = [1,2,3,4,5]
l2 = [4,5,8,9,10]
set1 = set(l1)
set2 = set(l2)
union = set1 | set2
intersection = set1 & set2

print(f"Union and intersection are - {union},{intersection}")

Union and intersection are - {1, 2, 3, 4, 5, 8, 9, 10},{4, 5}

In [35]:
l1 = [1,2,3,4,5]
l2 = [4,5,8,9,10]
union = []
intersection = []

for i in l1:
  if i not in union:
    union.append(i)
for j in l2:
  if j  not in union:
    union.append(j)
for k in l1:
  if k in l2:
    intersection.append(k)

print(f"union is {union} and intersection is {intersection}")

union is [1, 2, 3, 4, 5, 8, 9, 10] and intersection is [4, 5]

In [36]:
# Q72.the max item of each row of a matrix.

matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
    ]
for i in matrix:
  max = i[0]
  for j in i:
    if j > max:
      max = j
  print(max)

3
6
9

In [39]:
# Q73. Write a program that can convert an integer to string.

number = int(input("Enter an integer: "))
string = str(number)
print(type(string),string)

Enter an integer: 5
<class 'str'> 5

In [41]:
# Q74. Write a program to print the shape of a matrix.
matrix = [
    [1,2,3],
    [4,5,6],
    [6,7,8],
    [2,3,4]
  ]
row = 0
for i in matrix:
  row+=1
  column = len(i)
print("Shape of matrix is ",row,'*',column)

Shape of matrix is  4 * 3

In [43]:
#Q75. Write a program that can check if you can perform matrix multiplication on 2 matrices

M1 = [[1,2,3],[4,5,6]]
row1 = 0
for i in M1:
  row1+=1
  column1 = len(i)
print("row1: ",row1)
print("column1: ",column1)
print("Shape of matrix is ",row1,'*',column1)

M2 = [[7,8,9],[10,11,12],[1,2,3]]
row2 = 0
for i in M2:
  row2+=1
  column2 = len(i)
print("row2: ",row2)
print("column2: ",column2)
print("Shape of matrix is ",row2,'*',column2)

if column1==row2:
  print("Multiplication is possible")
else:
  print("Impossible")

row1:  2
column1:  3
Shape of matrix is  2 * 3
row2:  3
column2:  3
Shape of matrix is  3 * 3
Multiplication is possible

In [44]:
# Q77.Write a program that can sort a given unsorted list. Dont use any built in function for sorting.

list = [1,9,5,8,3,6,2]
for i in range(len(list)):
  for k in range(0,len(list)-1):
    if list[k]>list[k+1]:
      temp = list[k]
      list[k]=list[k+1]
      list[k+1] = temp
print(list)

[1, 2, 3, 5, 6, 8, 9]

In [46]:
# Q78.Assume a list with numbers from 1 to 10 and then convert it into a dictionary
#     where the key would be the numbers of the list and the values would be the square of those numbers.

O_list = [1,2,3,4,5,6,7,8,9,10]
D={}
for i in O_list:
  D[i]=i**2
print(D)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [55]:
# Q80.Write a program to merge two given dictionary
D1 = {'a':1,'b':2}
D2 = {'c':3,'d':4}
D = {}
for i in D1:
  D[i]=D1[i]
for k in D2:
  D[k]=D2[k]
print(D)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [15]:
# Q81.Write a program to swap the key value pair for max and min values
#      Eg if the dict is like this {‘a’:1,’b’:2,’c’:3}
#      Output should be {a:3,b:2,c:1}

D={'a':1,'b':2,'c':3}

max_val = max(D.values())
min_val = min(D.values())

for i in D:
  if D[i]==max_val:
    print(D[i])
    break
for j in D:
  if D[j]==min_val:
    print(D[j])
    break
D[i] = min_val
D[j] = max_val
print(D)

3
1
{'a': 3, 'b': 2, 'c': 1}

In [19]:
# Q82.Write a function that accepts a string and returns the number of upper case chars and lower case chars as a dictionary

def count_case_chars(s):
    uppercase_count = 0
    lowercase_count = 0

    for char in s:
        if char.isupper():
            uppercase_count += 1
        elif char.islower():
            lowercase_count += 1

    return {'uppercase': uppercase_count, 'lowercase': lowercase_count}

s = "TuShAr SinHA IS grEAt"
result = count_case_chars(s)
print(result)

{'uppercase': 10, 'lowercase': 8}

In [21]:
# Q83. Write a dummy program that can perform login and registration using a menu driven program
user_input = input("""
Hello,Welcome to the program
Enter 1 for registration
Enter 2 for login
Enter 3 for Exit
""")
if user_input == "1":
  name = input("Enter your name : ")
  email = input("Enter your email : ")
  password = input("Enter your password : ")
  print("Registration Successfull")
elif user_input == "2":
  email1 = input("Enter your email: ")
  password1 = input("Enter your password: ")
  if  email1 == email and password1==password:
    print("Login Succesfull")

Hello,Welcome to the program
Enter 1 for registration
Enter 2 for login
Enter 3 for Exit
2
Enter your email:
Enter your password: